<!DOCTYPE html>
<html>

<body>

    {% extends "master.html" %}

    {% block title %}
      Details about {{ mymember.firstname }} {{ mymember.lastname }}
    {% endblock %}
    
    
    {% block content %}
      <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
      
      <p>Phone {{ mymember.phone }}</p>
      <p>Member since: {{ mymember.joined_date }}</p>
      
      <p>Back to <a href="/members">Members</a></p>
      
    {% endblock %}

</body>
</html><div class="column kids">
  <div class="content">
    <a href="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m43s649.png" >
      <img src="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m43s649.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
    </a>
  </div>
</div>

<div class="column wardrobe">
  <div class="content">
    <a href="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m49s484.png" >
      <img src="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m49s484.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
    </a>
  </div>
</div>

<div class="column wardrobe">
  <div class="content">
    <a href="../Pixcel Photos/Dressing Table/dress.jpg" >
      <img src="../Pixcel Photos/Dressing Table/dress.jpg" oncontextmenu="return false;"  alt="hall" style="width:100%">
    </a>
  </div>
</div>

<div class="column wardrobe">
  <div class="content">
    <a href="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m35s526.png" >
      <img src="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m35s526.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
    </a>
  </div>
</div>
