
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../mystaticfiles/port.css">
        <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>
<body> 

  

  <div class="nav">
    <div class="logo" >
      <p>Pixcel <br>Interiors</p>
      <span></span>
      <div class="ddiq">
        <p>Design <br>Decor <br>Innovation <br>Quality</p>
      </div>
    </div>

    <input type="checkbox" id="nav-check">
 
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
  

      <a class="active" href="../index.html" >home</a>
      <a class="active" href="aboutus.html" >About</a>
      <a class="active port" id="portfolio" href="portfolio.html" >portfolio</a> 
      <a class="active" href="contacts.html" >contact us</a>
    </div>
</div>

</div>
      <div class="title-section">
        <div class="title">
          <h1>our <br>portfolio</h1>
        </div>
        <div class="youtube">
          <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=UUwdV2h-R5ZN6kyz6gUNdtMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <br><span>watch our latest project</span>
        </div>
      </div>

      <div class="projects">
        <h2>projects</h2>
        <div id="myBtnContainer">
          <button class="btn actives" id="show-all" onclick="filterSelection('all')"> show all</button><br>
          <button class="btn" onclick="filterSelection('hall')">hall</button>
          <button class="btn" onclick="filterSelection('tv')">tv unit</button>
          <button class="btn" onclick="filterSelection('kitchen')"> kitchen</button>
          <button class="btn" onclick="filterSelection('pooja')">pooja unit</button>
          <button class="btn" onclick="filterSelection('room')">master bedroom</button>
          <button class="btn" onclick="filterSelection('dressing')">dressing table</button>
          <button class="btn" onclick="filterSelection('kids')">kids room</button>
          <button class="btn" onclick="filterSelection('wardrobe')">wardrobe</button>
          <button class="btn" onclick="filterSelection('shoe-rack')">shoe rack</button>
          <button class="btn" onclick="filterSelection('book')">book shelf</button>
          <button class="btn" onclick="filterSelection('other')">others</button>
        </div>
        
        
        <div class="row">
      
          <div class="column hall">
            <div class="content">
              <a href="../Pixcel Photos/Hall/vlcsnap-2023-03-26-12h42m17s079.png" >
                <img src="../Pixcel Photos/Hall/vlcsnap-2023-03-26-12h42m17s079.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
              </a>
            </div>
          </div>
    
          <div class="column tv">
            <div class="content">
              <a href="../Pixcel Photos/TV Unit/vlcsnap-2023-03-26-12h42m31s299.png" >
                <img src="../Pixcel Photos/TV Unit/vlcsnap-2023-03-26-12h42m31s299.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
              </a>
            </div>
          </div>
       <div class="column kitchen">
        <div class="content">
          <a href="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-12h47m35s243.png" >
            <img src="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-12h47m35s243.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
   
      <div class="column pooja">
        <div class="content">
          <a href="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-12h48m35s343.png" >
            <img src="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-12h48m35s343.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      <div class="column room">
        <div class="content">
          <a href="../Pixcel Photos/Room/vlcsnap-2023-03-26-12h45m43s601.png" >
            <img src="../Pixcel Photos/Room/vlcsnap-2023-03-26-12h45m43s601.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column dressing">
        <div class="content">
          <a href="../Pixcel Photos/Dressing Table/dressing.jpg" >
            <img src="../Pixcel Photos/Dressing Table/dressing.jpg" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kids">
        <div class="content">
          <a href="../Pixcel Photos/Kidsroom/kids (1).jpg" >
            <img src="../Pixcel Photos/Kidsroom/kids (1).jpg" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kids">
        <div class="content">
          <a href="../Pixcel Photos/Kidsroom/kids (2).jpg" >
            <img src="../Pixcel Photos/Kidsroom/kids (2).jpg" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column wardrobe">
        <div class="content">
          <a href="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-12h44m52s221.png" >
            <img src="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-12h44m52s221.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column shoe-rack">
        <div class="content">
          <a href="../Pixcel Photos/Shoe rack/vlcsnap-2023-03-26-13h28m44s235.png" >
            <img src="../Pixcel Photos/Shoe rack/vlcsnap-2023-03-26-13h28m44s235.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column book">
        <div class="content">
          <a href="../imgs/new-img/IMG_20230310_050153_421.png" >
            <img src="../imgs/new-img/IMG_20230310_050153_421.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column other">
        <div class="content">
          <a href="../Pixcel Photos/vlcsnap-2023-03-26-12h50m59s216.png" >
            <img src="../Pixcel Photos/vlcsnap-2023-03-26-12h50m59s216.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column hall">
        <div class="content">
          <a href="../Pixcel Photos/Hall/vlcsnap-2023-03-26-12h48m26s374.png" >
            <img src="../Pixcel Photos/Hall/vlcsnap-2023-03-26-12h48m26s374.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column hall">
        <div class="content">
          <a href="../Pixcel Photos/Hall/vlcsnap-2023-03-26-13h22m28s275.png" >
            <img src="../Pixcel Photos/Hall/vlcsnap-2023-03-26-13h22m28s275.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column hall">
        <div class="content">
          <a href="../Pixcel Photos/Hall/vlcsnap-2023-03-26-13h59m48s413.png" >
            <img src="../Pixcel Photos/Hall/vlcsnap-2023-03-26-13h59m48s413.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column tv">
        <div class="content">
          <a href="../Pixcel Photos/TV Unit/tv.png" >
            <img src="../Pixcel Photos/TV Unit/tv.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column tv">
        <div class="content">
          <a href="../Pixcel Photos/TV Unit/vlcsnap-2023-03-26-13h20m45s442.png" >
            <img src="../Pixcel Photos/TV Unit/vlcsnap-2023-03-26-13h20m45s442.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column tv">
        <div class="content">
          <a href="../Pixcel Photos/TV Unit/vlcsnap-2023-03-26-13h25m19s701.png" >
            <img src="../Pixcel Photos/TV Unit/vlcsnap-2023-03-26-13h25m19s701.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column tv">
        <div class="content">
          <a href="../Pixcel Photos/TV Unit/vlcsnap-2023-03-26-12h48m08s851.png" >
            <img src="../Pixcel Photos/TV Unit/vlcsnap-2023-03-26-12h48m08s851.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kitchen">
        <div class="content">
          <a href="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h21m02s799.png" >
            <img src="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h21m02s799.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kitchen">
        <div class="content">
          <a href="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h21m13s403.png" >
            <img src="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h21m13s403.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kitchen">
        <div class="content">
          <a href="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h25m31s427.png" >
            <img src="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h25m31s427.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kitchen">
        <div class="content">
          <a href="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h39m41s365.png" >
            <img src="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h39m41s365.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kitchen">
        <div class="content">
          <a href="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h59m58s662.png" >
            <img src="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-13h59m58s662.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kitchen">
        <div class="content">
          <a href="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-14h02m10s643.png" >
            <img src="../Pixcel Photos/Kitchen/vlcsnap-2023-03-26-14h02m10s643.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>

      
      <div class="column pooja">
        <div class="content">
          <a href="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-13h54m19s0292.png" >
            <img src="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-13h54m19s0292.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column pooja">
        <div class="content">
          <a href="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-13h54m19s029.png" >
            <img src="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-13h54m19s029.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column pooja">
        <div class="content">
          <a href="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-12h51m37s448.png" >
            <img src="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-12h51m37s448.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column pooja">
        <div class="content">
          <a href="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-14h05m45s386.png" >
            <img src="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-14h05m45s386.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column pooja">
        <div class="content">
          <a href="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-13h39m30s786.png" >
            <img src="../Pixcel Photos/Pooja Unit/vlcsnap-2023-03-26-13h39m30s786.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>


      
      <div class="column room">
        <div class="content">
          <a href="../Pixcel Photos/Room/vlcsnap-2023-03-26-12h43m33s692.png" >
            <img src="../Pixcel Photos/Room/vlcsnap-2023-03-26-12h43m33s692.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column room">
        <div class="content">
          <a href="../Pixcel Photos/Room/vlcsnap-2023-03-26-12h44m27s886.png" >
            <img src="../Pixcel Photos/Room/vlcsnap-2023-03-26-12h44m27s886.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column room">
        <div class="content">
          <a href="../Pixcel Photos/Room/vlcsnap-2023-03-26-12h46m26s898.png" >
            <img src="../Pixcel Photos/Room/vlcsnap-2023-03-26-12h46m26s898.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column room">
        <div class="content">
          <a href="../Pixcel Photos/Room/vlcsnap-2023-03-26-13h21m18s254.png" >
            <img src="../Pixcel Photos/Room/vlcsnap-2023-03-26-13h21m18s254.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column room">
        <div class="content">
          <a href="../Pixcel Photos/Room/vlcsnap-2023-03-26-13h21m22s878.png" >
            <img src="../Pixcel Photos/Room/vlcsnap-2023-03-26-13h21m22s878.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column dressing">
        <div class="content">
          <a href="../Pixcel Photos/Dressing Table/dress.jpg" >
            <img src="../Pixcel Photos/Dressing Table/dress.jpg" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kids">
        <div class="content">
          <a href="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m35s526.png" >
            <img src="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m35s526.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kids">
        <div class="content">
          <a href="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m49s484.png" >
            <img src="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m49s484.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column kids">
        <div class="content">
          <a href="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m43s649.png" >
            <img src="../Pixcel Photos/Kidsroom/vlcsnap-2023-03-26-12h49m43s649.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column wardrobe">
        <div class="content">
          <a href="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-12h46m48s230.png" >
            <img src="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-12h46m48s230.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column wardrobe">
        <div class="content">
          <a href="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-12h49m17s282.png" >
            <img src="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-12h49m17s282.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column wardrobe">
        <div class="content">
          <a href="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-13h21m33s887.png" >
            <img src="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-13h21m33s887.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column wardrobe">
        <div class="content">
          <a href="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-13h21m36s376.png" >
            <img src="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-13h21m36s376.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column wardrobe">
        <div class="content">
          <a href="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-13h30m43s138.png" >
            <img src="../Pixcel Photos/Wardrobe/vlcsnap-2023-03-26-13h30m43s138.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column shoe-rack">
        <div class="content">
          <a href="../Pixcel Photos/Shoe rack/vlcsnap-2023-03-26-14h04m08s231.png" >
            <img src="../Pixcel Photos/Shoe rack/vlcsnap-2023-03-26-14h04m08s231.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column shoe-rack">
        <div class="content">
          <a href="../Pixcel Photos/Shoe rack/vlcsnap-2023-03-26-14h01m08s596.png" >
            <img src="../Pixcel Photos/Shoe rack/vlcsnap-2023-03-26-14h01m08s596.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
      
      <div class="column shoe-rack">
        <div class="content">
          <a href="../Pixcel Photos/Shoe rack/vlcsnap-2023-03-26-12h49m57s426.png" >
            <img src="../Pixcel Photos/Shoe rack/vlcsnap-2023-03-26-12h49m57s426.png" oncontextmenu="return false;"  alt="hall" style="width:100%">
          </a>
        </div>
      </div>
    </div>
<div class="contact" style="margin-top: 5%;">
  <a href="contacts.html">contact us</a> 
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>
<div class="side-button">
  <a href="https://wa.me/919916190447/?text=Hi i need help with interior design"><i class="fa fa-whatsapp"></i></a>
  <a href="tel:8892442606"><i class="fa-solid fa-phone"></i></a>
  <a href="https://www.youtube.com/channel/UCwdV2h-R5ZN6kyz6gUNdtMg"><i class="fa-brands fa-youtube"></i></a>
</div>

<footer style="text-align: center; display: flex; justify-content: center;     font-family: 'Audiowide', cursive;">
  <p style="margin-right: 5%; text-transform: capitalize;">Copyright &copy; 2023 Pixcel Interiors</p>
  <a href="privacy.html">Privacy & Policy</a>
</footer>

      <script src="../mystaticfiles/script.js"></script>
      <script src="../test/script.js"></script>

</body>
</html>